- manifest_path = pwa['short-name'] + '.webmanifest'
doctype html
html(lang='en')
  head
    title= pwa.name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='theme-color', content=pwa.theme_color)
    meta(name='description', content=pwa.description)
    link(rel='stylesheet', href='style.css')
    link(rel='icon', href='icons/icon_128.png')
    link(rel='manifest', href=manifest_path)
    link(rel='apple-touch-icon', href='icons/icon_192.png')
    script(type='text/javascript', src='app.js')
  body(onload='Umbrella.init()')
    #col1.cols
      .base
        .trigs
          .btns
            button(onclick='Umbrella.roll("1d2")') 1d2
            button(onclick='Umbrella.roll("1d4")') 1d4
            button(onclick='Umbrella.roll("1d6")') 1d6
            //
            button(onclick='Umbrella.roll("1d8")') 1d8
            button(onclick='Umbrella.roll("1d12")') 1d12
            button(onclick='Umbrella.roll("1d20")') 1d20
            //
            button(onclick='Umbrella.roll("1d3")') 1d3
            button(onclick='Umbrella.roll("1d10")') 1d10
            button(onclick='Umbrella.roll("1d100")') 1d100
            //
            button(onclick='Umbrella.roll("3d6kl2")') 2d6 dis
            button(onclick='Umbrella.roll("2d6")') 2d6
            button(onclick='Umbrella.roll("3d6k2")') 2d6 avt
            //
            button(onclick='Umbrella.roll("6dFkl4")') 4dF dis
            button(onclick='Umbrella.roll("4dF")') 4dF
            button(onclick='Umbrella.roll("6dFk4")') 4dF avt
          .imp
            input#theimp
            button(onclick='Umbrella.roll("input")') R!
            a(
              href='https://dice-roller.github.io/documentation/guide/notation/'
              target='blank'
            ) Notation
        #res --
      .btnbox
        button.flip(onclick='Umbrella.flip()') Flip
    #col2.cols
      .btnbox
        button(onclick='Umbrella.clear()') Clear
        button.flip(onclick='Umbrella.flip()') Flip
      #histo
